

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Bowling Ball"
    src="../assets/bowling_ball.png"
  />
    <div class="toolbar-title">
      <span>My Bowling Score</span>
    </div>
    <img
    width="16"
    alt="Bowling Pin"
    src="../assets/bowling_pin.png"
  />
</div>

<div class="content" role="main" *ngIf="ActiveGame != null; else awaitingGameBlock">
  <game-scorecard>
  </game-scorecard>
</div>
<ng-template #awaitingGameBlock>
  <div class="content">
    <span>Awaiting game data</span>
  </div>
</ng-template>

