

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Bowling Ball"
    src="../assets/bowling_ball.png"
  />
    <div class="toolbar-title">
      <span>My Bowling Score</span>
    </div>
    <img
    width="16"
    alt="Bowling Pin"
    src="../assets/bowling_pin.png"
  />
</div>

<div class="content" role="main" *ngIf="Games !== null; else awaitingGameBlock">
  <div *ngFor="let game of Games;">
    <game-scorecard [Game]="game">
    </game-scorecard>
  </div>
  <input class="save-throw-input" type="number" min=0 max=10 (change)="UpdatePinValue($event.target.value)" />
  <button class="save-throw-button" (click)="SaveThrow()" >Save Throw</button>
</div> 
<ng-template #awaitingGameBlock>
  <div class="content">
    <span>Awaiting game data</span>
  </div>
</ng-template>

